<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/"><span style="color:red">❤ Kokoro</span></a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home </a>
      </li>
      <li>
        <a href="/imss">IMSS</a>
      </li>
      <li>
        <a href="/tesofe">TESOFE</a>
      </li>
      <li>
        <a href="/oficios">OFICIOS</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>Kokoro V1.0</h1>
      <p>Administrador de archivos Kokoro. Esta es una prueba para el administrador de archivos</p>
      <p><a class="btn btn-primary btn-lg" href="DIARY.txt" role="button">Diario</a></p>
    </div>
  </div>
</body>
</html>